{{ define "main" }}
<article style="">




<h3 id="{{ .Params.slug }}">{{ .Params.name }}</h3>


{{ with .Params.image }}
<img align="right" width="255" height="255" src="{{ "podcasts/" | relURL }}{{ . }}" alt="{{ $.Name }}">
{{ end }}


<!-- <p>{{ .Params.description }}</p> -->

<ul>
<li>Number of published episodes: {{ .Params.episodeCount }}</li>
<li><a href="{{ .Params.websiteUrl }}">{{ .Params.name }} Website</a></li>
<li><a href="{{ .Params.feedUrl }}">{{ .Params.name }} Feed</a></li>
</ul>

</article>
{{ end }}